{% extends 'base.html.twig' %}

{% block title %}New Product{% endblock %}
{% form_theme form 'bootstrap_5_layout.html.twig' %}
{% block body %}
    <h1 class="text-center">Crée un nouveau produit</h1>

    {{ include('product/_form.html.twig') }}

    <a href="{{ path('app_product_index') }}" class="btn btn-secondary mt-3">Revenir au catalogue des produits</a>
{% endblock %}
